# NOTE: Can replace `conda` with `micromamba` or `mamba`
layout conda peds_cxr

# Store environment variables
export DIR_CXR="$PWD/data/cxr_datasets"
export DIR_CHEXBERT="${DIR_CXR}/chexbert"
export DIR_TRAIN="$DIR_CHEXBERT/CheXpert-v1.0/train"